node_modules/
vendor/
.idea/
..idx/
..vscode/

# Ignorar archivos de configuración y credenciales
configuration.php
build.sh
build.php
Dockerfile
docker-compose.yml
.gitignore
.env

# Ignorar caché y archivos temporales
cache/
tmp/
logs/

# Ignorar backups y archivos comprimidos
*.zip
*.tar.gz
*.bak
