node_modules/
vendor/
.idea/

# Ignorar archivos de configuración y credenciales
configuration.php
.env

# Ignorar caché y archivos temporales
cache/
tmp/
logs/

# Ignorar backups y archivos comprimidos
*.zip
*.tar.gz
*.bak
